:root {
    --color-primary: #6366f1;    /* Indigo */
    --color-secondary: #8b5cf6;  /* Purple */
    --color-dark: #1e293b;       /* Slate dark */
    --color-light: #f8fafc;      /* Slate light */
    --color-text: #334155;       /* Slate text */
    --font-main: 'Segoe UI', sans-serif;
}
*{
    box-sizing: border-box;
}
header{
    position: sticky;
    display: flex;
    gap: 1rem;
}
nav:hover{
    color:rgb(255, 234, 0);
}
.menu-header{
    display: flex;
    gap: 1rem;
}
.menu-cb{
    display: none;
}
.hamburger-bt img{
    width: 1rem;
    height: 1rem;
}
@media (max-width: 768px) {
    .menu-header{
        display: none;
    }
    .menu-cb:checked~.menu-header{
        display: flex;
    }
}





