*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header header header"
    "hero-banner hero-banner hero-banner"
    "sidebar content ads"
    "footer footer footer";
    gap: 10px;
}
/* Header */
header{
    grid-area: header;
    position: sticky;
    background-color:brown;
    color: white;
    top: 0px;
    height: 3rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    padding: 5px 20px;
    gap: 40px;
}
nav>ul{
    display: grid;
    grid-auto-flow: column ;
    list-style: none;
    gap: 20px;
}
nav>ul a{
    text-decoration: none;
    color: white;
}

/* Hero */
.hero-banner{
    grid-area: hero-banner;
    display: grid;
    grid-template-columns: 1fr 200px;
}
.hero-content{
    display: grid;
    text-align: center;
    background-image: url("https://premedia.vneconomy.vn/files/uploads/2025/09/25/d2014c801fa94580b1b22724963dbb37-15714.webp?w=1200");
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 200px;
    align-items: center;
}
.featured-product{
    display:grid;
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    height: 20rem;
    background-image: none;
}
.featured-product article>img{
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}
.featured-product article>button{
    width: 100%;
    margin-top: auto ;
}
/* Sidebar */
.sidebar{
    grid-area: sidebar;
    border: 1px black solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    align-items: center;
}
.content{
    grid-area: content;
}
.products{
    background-color: rgb(177, 203, 252);
    display: grid;
    margin: 10px 5px;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    gap: 10px;
    padding: 10px;
}
h2{
    text-align: center;
}
.products article{
    border: 1px black solid;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    display:grid;
    height: 30rem;
    grid-template-rows: 200px 1fr 1fr 1fr;
}
.products article>img{
    object-fit: cover;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
}
.products article>button{
    width: 100%;
    margin-top: auto ;
}
aside{
    grid-area: ads;
    border: 1px black solid;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
iframe{
    width: 10rem;
    height: 10rem;
}
/* Footer */
footer{
    grid-area: footer;
    display: grid;
    background-color: brown;
    grid-template-columns: repeat(2,1fr);
}
footer a{
    color: white;
}

